@font-face {
    font-family: primary;
    src: url(https://cdn.utopia.pizza/editor/sample-assets/stretchpro.woff);
 }
 

:root {
    --off-white: #EEEEEA;
    --purple: #621C75;
    --orange: #FFAE34;
    --yellow: #F1D972;

    --primary: primary;
    --secondary: 'Roboto Mono';
    --safety: 'sans-serif';
}


.star {
    margin: -42px 0px;
    animation: 3s infinite alternate star-bounce; 

}

@keyframes star-bounce {
    from {
        margin: -42px 0px;
    }
  
    to {
        margin: -28px 0px;
    }
}

.title-sticker {
    animation: 10s linear infinite rotate;
    /* animation: 1s forwards rotate; */
}

@keyframes rotate {
    from {
        transform: rotate(359deg);
    }
    to {
        transform: rotate(0deg);
    }
}
